* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --lightblue: #638cb0;
  --darkblue: #515a83;
  --cream: #fae7dc;
  --ocean: #dbe6e8;
  --bone: #f3eae1;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--ocean);
  justify-content: center;
}

.btn {
  padding: 0.2rem;
  margin: 1rem;
  font-size: 0.5rem;
  background-color: var(--cream);
  border: none;
}

.hide {
  display: none;
}

.container {
  text-align: center;
}

.answer-btn {
  background-color: blueviolet;
}

.controls {
  align-items: center;
}
